
{% extends 'main/email_base.html' %}
{% block title %} Compose{% endblock %}
{% block continer %}



        <div class="btn btn-block btn-outline-info " style="margin-top: 50px">
        <p style="background: lightcoral ;font-size: large"> Email Details</p>
            <p style="background: lightgreen;font-size: large">
                <b><a href="/main/reply_email/{{ email.id }}"> Reply</a></b>
                <b><a href="/main/forward_email/{{ email.id }}"> Forward</a></b>
            </p>
            <h4> From : {{ email.sender_email }} </h4>
            <h4> To : {{ email.receiver_email.get }}</h4>
            <p> Subject : {{ email.subject }}</p>
            <p> Email Text : {{ email.text }}</p>
            <p> Email Date and Time :{{ email.date_time }}</p>
            {% if email.file %}
            <p> Attached File :<a href="{{ email.file.url }}"> File</a></p>
            {% endif %}
            <p> label :{{ email.label }}</p>
            <p>{{ email.id }}</p>
            <p style="background: lightcoral ;font-size: large"><a href="/main/trash/{{ email.id }}"> Delete</a></p>
            <p style="background: lightgreen;font-size: large"><a href="/main/make_archive/{{ email.id }}"> Archive</a></p>
              <form action="/main/email_detail/{{ email.id}}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                  <label for="lab">Label</label>
                  <select name="label" id="lab">
                      {% for label in user_labels %}
                            <option value="{{ label }}" name="label">{{ label }}</option>
                      {% endfor %}

                  </select>
                  <input type="submit" value="Submit" />
            </form>

        </div>

{% endblock %}