{% extends 'main/email_base.html' %}
{% block title %} Contacts{% endblock %}
{% block continer %}
    {% load static %}
    <script src="{% static 'js/search_contacts.js' %}" defer >
    </script>

<div class=" col- ml-2 pl-5 pt-4" >
                <div class="form-group">
                    <form id = "search-form" autocomplete="off">
                                {% csrf_token %}
                              <input  type="text" class= "form-control" id="searchItem" placeholder= " Search contacts...." style="width: 300px" >
                            </form>


                            </div>


                 </div>
                    <div class="list_div">
                        <ol>
                            {% for email in object_list %}
                                <li class="">
                                <a>
                                    {{ email.sender }} : {{ email.subject }}- {{ email.text }}
                                </a>

                                </li>
                            {% endfor %}
                        </ol>

                </div>
    <div class="result_c " style="background: white;">
        <p class="contact_ajax_result"></p>
        <ol class ="list_ajax_c">

        </ol>

        <div class="btn btn-block btn-outline-info " style="margin-top: 50px">
         {% if messages %}
                {% for message in messages %}
                    <div class="alert-{{ message.tags }} rounded alert-dismissible text-center
         my-4 py-2" role="alert">


                    {{message}}

                    </div>
                {% endfor %}
            {% endif %}
              {% if user.is_authenticated %}
                   <h3> {{ user.first_name }} ' contacts :</h3>

                   {% for contact in contacts %}
                         <a href="/main/contact_detail/{{ contact.id }}"><p style="background: lightgray">  {{ contact }}  </p></a>
                     {% endfor %}
                  <a href="/main/new_contact/" style="background: lightcoral"> Create New Contact</a>
                  <a href="/main/exportcsv/" style="background: lightgreen"> Download Contacts (csv)</a>




            {% endif %}

        </div>
</div>

{% endblock %}