{% extends 'main/email_base.html' %}
{% block title %} reply{% endblock %}
{% block continer %}
<form  class="col-md-6 mx-auto mt-5"  action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}


        <div class="btn btn-block btn-outline-info">
            <p> reply to {{ email.receiver_email.get }}  by ({{ email.subject }}) title</p>
              {{ form.as_p }}
            <button type="submit"  name="submit" class="btn btn-block btn-outline-info" style="background: lightgreen">SEND</button>
{#            <button type="submit" name="draft" class="btn btn-block btn-outline-info" style="background: lightcoral">Draft</button>#}


        </div>

</form>

{% endblock %}