{% extends 'main/email_base.html' %}
{% block title %} sent box{% endblock %}
{% block continer %}



        <div class="btn btn-block btn-outline-info " style="margin-top: 50px">
         {% if messages %}
                {% for message in messages %}
                    <div class="alert-{{ message.tags }} rounded alert-dismissible text-center
         my-4 py-2" role="alert">


                    {{message}}

                    </div>
                {% endfor %}
            {% endif %}
              {% if user.is_authenticated %}

                   <h3> {{ user.first_name }} ' SENT BOX</h3>


                  <hr>

                   {% for email in sent_emails %}
                         <a href="/main/email_detail/{{ email.id }}" ><h5 style="background: lightgray">  sent email to {{ email.receiver_email.get}} ({{ email.subject }})  </h5></a>
                     {% endfor %}




            {% endif %}
        </div>

{% endblock %}